<section class="gallery-section-calligraphy gallery-section" aria-label="Gallery logos">
  <video class="gallery-bg-video" autoplay muted loop playsinline>
    <source src="{{ '/assets/img/galleries/background/Landscapes2.webm' | relative_url }}" type="video/webm">
  </video>
  <div class="text-section">
    <div class="serial-num">
      01
    </div>
    <div class="section-title">
      Calligraphy
    </div>
    <div class="description">
      Seek a moment of serenity.
    </div>
  </div>
  <div class="illustration-section">
    <div class="marquee-section">
      {% assign items = site.data.gallery_logos['column10'] %}
      <div class="logo-marquee-track-time" style="--direction:normal;">
        {% for logo in items %}
          <div
            class="logo-marquee-item-time"
            style="--icon-url: url('{{ '/assets/img/galleries/calligraphy/' | append: logo.char | append: '.svg' | relative_url }}');"
            aria-hidden="true"
          ></div>
        {% endfor %}
      </div>

      {% assign columns = "column9,column8,column7,column6,column5,column4,column3,column2" | split: "," %}
      {% for col in columns %}
        {% assign items = site.data.gallery_logos[col] %}
        <div class="logo-marquee logo-marquee-vertical">
          <div class="logo-marquee-track" style="--direction:normal;">
            {% for logo in items %}
              <div
                class="logo-marquee-item"
                style="--icon-url: url('{{ '/assets/img/galleries/calligraphy/' | append: logo.char | append: '.svg' | relative_url }}');"
                aria-hidden="true"
              ></div>
            {% endfor %}
          </div>

          <div aria-hidden="true" class="logo-marquee-track" style="--direction:normal;">
            {% for logo in items %}
              <div
                class="logo-marquee-item"
                style="--icon-url: url('{{ '/assets/img/galleries/calligraphy/' | append: logo.char | append: '.svg' | relative_url }}');"
                aria-hidden="true"
              ></div>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
      
      {% assign items = site.data.gallery_logos['column1'] %}
      <div class="logo-marquee-track-title" style="--direction:normal;">
        {% for logo in items %}
          <div
            class="logo-marquee-item"
            style="--icon-url: url('{{ '/assets/img/galleries/calligraphy/' | append: logo.char | append: '.svg' | relative_url }}');"
            aria-hidden="true"
          ></div>
        {% endfor %}
      </div>

    </div>
  </div>

</section>

